<h1 class="text-xl text-center bg-white">Groups</h1>

<%= render "display_groups" %>

<%= render 'create_button' %>


<%#= link_to 'Show', group %>
<%#= link_to 'Edit', edit_group_path(group) %>
<%#= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
<%#= link_to 'New Group', new_group_path %>
