<%= render 'grouped_expenses' %>

<div class="text-center">
  <%= render "shared_partials/add_button" %>
  <%= link_to 'Back', :back, class: "border shadow-md border-green-500 text-green-500 px-6 py-1 rounded"%>
</div>