<h1 class="text-xl text-center bg-white">All Expenses</h1>

<div class="flex justify-between shadow bg-white px-2 py-4">
  <h2 class="text-lg">Total</h2>
  <p class="text-lg font-semibold">$<%= all_expenses_total %></p>
</div>

<%= render "recent_expenses" %>

<div class="text-center">
  <button class="bg-green-600 px-4 py-1 shadow-md rounded-md text-gray-100 m-4">
    <%= link_to "Add new", new_expense_path %>
  </button>
</div>

<%#= link_to 'New Expense', new_expense_path %>
